{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}WMS-SAEP{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/app.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% block body %}{% endblock %}
  <script src="{% static 'core/vendor/htmx.min.js' %}" defer></script>
  <script src="{% static 'core/vendor/alpine-focus.min.js' %}" defer></script>
  <script src="{% static 'core/js/modal.js' %}" defer></script>
  <script src="{% static 'core/js/form-submit.js' %}" defer></script>
  <script src="{% static 'core/js/autocomplete.js' %}" defer></script>
  <script src="{% static 'core/vendor/alpine.min.js' %}" defer></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
